#head-title {
    display: inline-block;
    color: cornflowerblue;
    font-weight: bolder;
}

form.form-inline {
    margin: 20px 0 10px 0;
}

#signup-wrapper {
    position: relative;
    right: 0%;
    top: 0;
    display: inline-block;
}

button#signup-btn {
    margin: 20px 10px;
}

#collapseSignup {
    position: absolute;
    left: -200%;
    top: 100%;
}